body {
    background: linear-gradient(90deg, rgba(115,191,65,1) 35%, rgba(0,56,115,1) 100%);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.izq {
    float: left;
    width:20%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }

#map {
    height: 500px;
    width: 80%;
    margin-top: 20px;
}

.card {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 400px;
    z-index: 1000;
}

.card img {
    width:100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 0;
    text-align: justify;
}


.card audio {
    width: 100%;
    margin: 10px 0;
}

.card a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

#gallery-card {
    display: none;
    position: fixed;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, rgba(115,191,65,1) 35%, rgba(0,56,115,1) 100%);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    z-index: 1000;
}

.close-gallery {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}

.close-card {
        float: right;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 0;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-slides img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.next {
    background: rgb(115,191,65);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.prev {
    background: rgba(0,56,115,1);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

/* Media query for mobile responsiveness */
@media (max-width: 600px) {
    #gallery-card {
        width: 100%;
        max-width: none;
        padding: 10px;
    }

    .prev, .next {
        padding: 8px;
    }
}

